/* @font-face {
    font-family: Julee;
    src: url('../fonts/Julee-Regular.ttf');
} */
@font-face {
    font-family: "Righteous";
    src: url("../fonts/Righteous-Regular.ttf");
    }
body{
    font-family:'Righteous';
    background-image:url('../images/frame3.jpeg');
  background-repeat: no-repeat;
  background-attachment: fixed;user-select: none;
  background-size: cover;
}
#navigate{
    width:100%;
    display:flex;justify-content: space-around;flex-wrap: wrap;
    position:fixed;bottom:10%;
}
.container{width:40%;position:absolute;
    top:21%;left:32%;margin: auto;display:flex;flex-direction: column;
    flex-wrap: wrap;
}
a{text-decoration: none;}
.btn-juicy {
    box-shadow: 4px 5px #ffffff;
    transition: 0.2s;
}
.btn-juicy:hover:active {
	transition: 0.1s;
	box-shadow: 1px 2px#7c008a;
	transform: translate(5px);
}
img{
    margin : 5px;
    padding: 12px;
    border-radius: 20px;
    border: solid;
    border-color: #ffff;
}
img:hover{
    border-color:aqua;
    transition: 1s;
    transform:scale(95%);
    /* transform: rotate(360deg); */
}
#store
{
    display:flex;
    left:7.5%;
    top:25%;
    position: fixed;
}
.btn{border:2px solid white;font-weight: lighter;font-family: 'Righteous';}
.btn-juicy:hover, .container .btn:hover{
    color: #5b0d63;
    background-color: white;
    box-shadow: 6px 6px #ca00e0 ;
    
    border: 2px solid #7c008a;
    transform: translate(-1px, -2px);
}

.container .btn, .btn{
    color: rgb(255, 255, 255);
    line-height:15px;
    width: 250px;
    display: block;
    letter-spacing: 2px;
    background-color: #5b0d63;
    text-decoration: none;
    padding: 20px 10px;
    border: 2px solid white;
    margin: 0px 5px;
    text-align: center;
    user-select: none;
    -webkit-user-drag: none;
    font-size: 25px;
}
@media only screen and (max-width:350px){
   .container{left:15%;}
}
@media only screen and (max-width:1200px){
    body{background-size: auto;}
}