
*{padding: 0;margin: 0;}  
@font-face {
    font-family: Julee;
    src: url('../fonts/Julee-Regular.ttf');
}
@font-face {
    font-family: "Righteous";
    src: url("../fonts/Righteous-Regular.ttf");
}

@font-face {
    font-family: "Lime";
    src: url("../fonts/Limelight-Regular.ttf");
} 
/*To split into two*/
body   {
    font-family: 'Cinzel Decorative', cursive;
    user-select: none;
cursor: url('../images/mous3.png'),auto;
}
.container {
    display: flex;
    flex-direction: row;
}
.left {
    height:100vh;
    display: block;
    width: 4.5%;
    scrollbar-width: none;
    overflow: auto;
    /* background: rgb(0,4,91); */
    background: linear-gradient(209deg,#000381 40%, rgb(7 12 141)50%);
}

.right {
    font-family: 'Raleway', sans-serif;
    display: block;
    background-image: url('../images/frame.jpg');
    display: no-repeat;background-attachment: fixed;background-position: center center;background-size:cover;
    width: 100%;
}

/* scrollbar */
::-webkit-scrollbar {
    width: 3px;
    height: 5px;
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-border-radius: 10px;
    border-radius: 10px;
  }
  
  ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }
  
  ::-webkit-scrollbar-thumb:window-inactive {
    background: rgba(255, 255, 255, 0.3);
  }
  
.quiz-container {
    max-width: 700px;
    margin: 150px auto auto;box-sizing: border-box;
    text-align: center;padding:auto 15%;

}
.question {
  font-size: 20px;background-color:rgb(0, 78, 255,0);font-size: 1.3rem;
padding: 20px;border-radius:5px;color:white;text-align: center;
overflow-y: scroll;letter-spacing: 2px;box-shadow: 0px 0px 10px rgb(217, 224, 235);

}
.options {
    width:100%;height:150px;
    display: flex;flex-direction: row;flex-wrap:wrap;
    justify-content: space-around;
    margin: 60px auto;
}
/*.options{
    display: flex;flex-direction: column;flex-wrap:wrap;
    justify-content: space-around;width:80%;
    margin-top: 20px;margin:20px auto;
}*/
.option {
width:38%;letter-spacing: 2px;
font-size: 18px;margin:8px 16px;display:block;
padding: 10px 20px;text-align: start;
border-radius: 4px;background-color:#004eff;
color: white;
float:left;
}
/*.option{
font-size: 18px;margin:8px 16px;
padding: 10px 20px;text-align: start;
border-radius: 4px;background-color:white;
text-align: center;
}*/
      
.option:hover {
    transition: 300ms;
    transform: scale(1.01);
    color: white;font-weight: bold;
    box-shadow: inset 3px 2px white, 1px 2px white;
}
#btn-container .buttons {
display:flex;justify-content: space-between;
}
.button {
    border:solid 1px;
    border-color: white;
    background-color:#004eff;
    color: white;
    padding: 11px 20px;
    /* border: none; */
    border-radius: 4px;
    cursor: pointer;
    font-size: 20px;
    width: 120px;
    font-family: Righteous;
}

.button:hover {
    transform:rotate(180);
    box-shadow: 0px 0px 10px white;

}
.pagination-container {
    display: flex;flex-wrap: wrap;justify-content: center;
    margin:5% auto auto;
}
.pagination-container button{
    border:none;
}
.pagination-container button:hover{
    background-color: rgb(9, 58, 107);
}
.selected{transition:300ms;background-color:rgb(223, 66, 228,0);color:white;
font-weight: bold;box-shadow: inset 3px 2px rgb(92, 88, 87), 4px 4px white;
}
.question-number{display:flex;flex-wrap: wrap;
    justify-content:center ;}
.number {
    color: white;width:50px;
    padding: 5px;width:22px;
    border-radius: 5px;
    margin: 8px 3px auto;
    /* cursor: pointer; */
    border: 1px solid #ffffff;
    text-align: center; 
}
.number:hover{
    background-color: #ffffff;
    color:#1a3ef0;
    box-shadow: 0px 0px 10px white;

}
.active{color:white;background-color:#004eff;}
.submit{padding:10px 20px;background-color:#004eff;
    border:solid 1px;
color:white;font-size: 1.2rem;border-color:#ffffff;font-family: 'Raleway', sans-serif;
border-radius:5%;position:absolute;bottom:3%;right:4%;}
.submit:hover{background-color: rgb(0 78 255);box-shadow: 0px 0px 10px white;}
.avatar-container{min-width:420px;position:absolute;left:0px;top:0px;height:80px;color:white;font-size: 1.5rem;
    margin-left: 5%;
    font-family:Lime;
    border-radius: 20px;}
.avatar-container .avatar{
    width:55px;height:60px;border-radius:50%;
    margin:15px 14px auto;float:left;
}
.avatar-container .avatar img{
    width:100%;height:100%;border-radius:50%;
}
.avatar-container .avatar-name{
    margin:22px 60px auto;font-size: 1rem;
    letter-spacing:2px;
}
.avatar-container .avatar-college{
    width:450px;height:60px;margin-left: 64px;
    font-size: 1rem;
line-height:28px;}
.avatar-container .avatar-email{
    /* margin-left: 30px;font-size: 1.2rem; */
    display:none;
}
#timer{
    padding:5px 20px;
    border-radius: 7px;
    color:rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    right:10px;
    top:10px;
    position:fixed;
    text-decoration: none;
    border: 4px solid #ffffff;
}

#rnd_name{
    font-family:Lime;
    color:#ffffff;
    font-size: 1.8rem;
    font-weight: bolder;
    /* border-color: #ffffff; */
    /* border:ridge; */
    padding: 10px;
    /* border-radius: 5px; */
    position:fixed;right: 15%; top: 10px;
}
.modal,.t-modal{
    width:500px;height:200px;background-color: rgb(255, 255, 255);
    position:absolute;top:200px;left:280px;z-index: 1;display:none;
    border-radius:5%;
}
.modal .close{
    color:red;font-size: 3rem;font-weight: bold;
    float:right;padding:3px 15px;
}
.modal p{margin:60px 70px 10px;font-weight: bold;letter-spacing: 2px;}
.modal .btn-container{
    display:flex;justify-content: space-around;
}
.modal .btn-container button{padding:10px 20px;margin:30px auto;letter-spacing: 2px;}
.modal .btn-container button:hover{
    background-color:rgb(6, 67, 129) ;
    box-shadow: 0px 0px 10px rgb(56, 89, 233);}
.answered{
   background-color: rgb(1,31,238);
}
.unanswered{
    background-color: red;
}